@font-face {
  font-family: 'impact-label';
  src: url('../fonts/impact-label/Impact-Label.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.content {
  width: 100%;
  overflow: auto;
}

.yts {
  font-family: 'impact-label';
  font-size: xx-large;
  position: absolute;
  top: 21.8em;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
}