@font-face {
  font-family: 'impact-label';
  src: url('../fonts/impact-label/Impact-Label.ttf');
}

* {
  margin: 0;
  padding: 0;
}

/* html,
body {
  background-color: aqua;
} */

.container {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 1;
}

.yts {
  font-family: 'impact-label';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
}

.maps {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  z-index: 0;
}

/* iPhone SE */
@media only screen and (max-width: 320vw) and (max-height: 568vw) {}

/* iPhone SE 2022, SE 2020, 8, 7, 6s */
@media only screen and (max-width: 375vw) and (max-height: 667vw) {}

/* iPhone 13, 13 Mini, 12 Mini, 11 Pro Max, X, XS */
@media only screen and (max-width: 375vw) and (max-height: 812vw) {}

/* iPhone 14, 13, 13 Pro, 12, 12 Pro */
@media only screen and (max-width: 390vw) and (max-height: 844vw) {
  .yts {
    top: 85vh;
    font-size: x-large;
  }

  .maps {
    top: 200%;
    width: 356px;
    height: 253px;
  }
}

/* iPhone 15 & 15 Pro, 14 Pro */
@media only screen and (max-width: 393vw) and (max-height: 852vw) {}

/* iPhone 8 Plus, 7 Plus, 6s Plus */
@media only screen and (max-width: 414vw) and (max-height: 736vw) {}

/* iPhone 11, XR, XS Max */
@media only screen and (max-width: 414vw) {
  .yts {
    top: 85vh;
    font-size: x-large;
  }

  .maps {
    top: 279%;
    width: 356px;
    height: 253px;
  }
}

/* iPhone 14 Plus, 13 Pro Max, 12 Pro Max */
@media only screen and (max-width: 428vw) and (max-height: 926vw) {}

/* iPhone 15 Plus, 15 Pro Max, 14 Pro Max */
@media only screen and (min-width: 430vw) and (min-height: 932vw) {
  .yts {
    top: 88vh;
    font-size: small;
  }

  .maps {
    top: 279%;
    width: 356px;
    height: 253px;
  }
}